<!DOCTYPE <!DOCTYPE html>

<html lang="es">
<head>
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Manejo de Pacientes{% block nombres %} {% endblock %} </title>
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<link rel="shortcut icon" type="image/x-icon" href="/static/images/fav-icon.png" />
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/main.css">
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>	
	<script type="text/javascript" src="/static/js/jquery.imagesloaded.js"></script>
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.wookmark.js"></script>	
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLb0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

	<!----webfonts---->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
		<!----//webfonts---->
		<!-- Global CSS for the page and tiles -->
  	<link rel="stylesheet" href="css/main.css">
  		<!-- //Global CSS for the page and tiles -->
		<!---start-click-drop-down-menu----->
		<script src="js/jquery.min.js"></script>
        <!----start-dropdown--->
         <script type="text/javascript">
			var $ = jQuery.noConflict();
				$(function() {
					$('#activator').click(function(){
						$('#box').animate({'top':'0px'},500);
					});
					$('#boxclose').click(function(){
					$('#box').animate({'top':'-700px'},500);
					});
				});
				$(document).ready(function(){
				//Hide (Collapse) the toggle containers on load
				$(".toggle_container").hide(); 
				//Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
				$(".trigger").click(function(){
					$(this).toggleClass("active").next().slideToggle("slow");
						return false; //Prevent the browser jump to the link anchor
				});
									
			});
		</script>
        <!----//End-dropdown--->
		<!--//End-click-drop-down-menu-->


</head>
<body>
	{% block header %} {% endblock %}
	<div align="right" style="font-size:18px" class="text-primary">
	{% if not user.is_authenticated %}
		<a href="{% url 'social:begin' 'twitter' %}"><img src="/static/images/twitter_icono.png" title="Twitter Login"/>Twitter Login</a>
		<a href="{% url 'social:begin' 'facebook' %}"><img src="/static/images/facebook_icono.png" title="Twitter Login"/>Facebook Login</a>
	{% else %}
		<h1 style="font-size:18px">Bienvenido {{ user }}</h1>
		<a href="/cerrar/" class="text-danger">LogOut</a>
	{% endif %}
	</div>

	<div class="header">
		<div class="wrap">
		<div class="logo">
			<a href="inicio.html"><img src="/static/images/icono_pacientes.png" title="" /></a>
		</div>
		<div class="nav-icon">
			 <a href="#" class="right_bt" id="activator"><span> </span> </a>
		</div>
		<div class="top-searchbar">
			<form>
				<p style="font-size:33px" align="center"><font face="verdana"><strong>Manejo de Pacientes</strong></font></p>
			</form>
		</div>
		<div class="box" id="box">
			 <div class="box_content">        					                         
				<div class="box_content_center">
				 	<div class="form_content">
						<div class="menu_box_list">
							<ul>
								<li><a href="/"><span>Inicio</span></a></li>
								<li><a href="/usuarios"><span>Usuarios</span></a></li>
								<li><a href="/pacientes"><span>Pacientes</span></a></li>
								<li><a href="/comenta"><span>Comenta</span></a></li>
								<li><a href="/contacto"><span>Contactenos</span></a></li>
								<div class="clear"> </div>
							</ul>
						</div>
						<a class="boxclose" id="boxclose"> <span> </span></a>
					</div>                                  
				</div> 	
			</div> 
		</div>
		</div>		
	</div>	  

	<section class='contenido'>
		{% block contenido %} {% endblock %}
	</section>
</body>
<footer align="center">
	<p>Proyecto final para Frameworks Web, creado por Alejandro Ordoñez Cordoba &copy;2015</p>
</footer>
</html>